[submodule "product-service"]
	path = product-service
	url = https://github.com/tonghohin/product-service.git
[submodule "order-service"]
	path = order-service
	url = https://github.com/tonghohin/order-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = https://github.com/tonghohin/inventory-service.git
